/*
 * -----------------------------------------------------
 *  somatic_exome_n-of-1 references Nextflow config file
 * -----------------------------------------------------
 * Default config options for all environments.
 */
profiles {
  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
  }
  conda { process.conda = "$baseDir/environment.yaml" }
  singularity { singularity.enabled = true }

}

params {

  container = 'library://bruce.moran/default/projects:somatic_exome_n-of-1.centos7.conda'

  //allow to not DL dbSNP+other large variant DBs (530 error on limit to connections, but allow other resources to be updated)
  nodbsnp = null

  //allow not setting VEP
  novep = null

  //allow not setting PCGR data
  nopcgr = null
  pcgrURL37 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch37.20191116.tgz'
  pcgrURL38 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch38.20191116.tgz'

  //autoset which pipeline to run (GRCh38 by default)
  version = "GRCh38"
  outDir = null
  exomebedurl = null

}

process {

      container = 'library://bruce.moran/default/projects:somatic_exome_n-of-1.centos7.conda'

}

timeline {
  enabled = true
  file = "pipeline_info/DNAseq_references.${params.version}.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/DNAseq_references.${params.version}.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/DNAseq_references.${params.version}.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/DNAseq_references.${params.version}.dag.svg"
}
