/*
 * --------------------------------------------
 *  somatic_exome_n-of-1 references base config
 * --------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

params {

  container = params.container
  beforeScript = 'module load singularity'
  containerOptions = '-B /data/bdigby/'
  executor='slurm'
  queue='highmem'
  clusterOptions ='-n 8 -N 1'
  //NB that task.memory causes some tools to fail, so using these predefs here
  full_javamem = "-Xmx8g"
  half_javamem = "-Xmx6g"
  quarter_javamem = "-Xmx4g"
  eighth_javamem = "-Xmx2g"
  twentieth_javamem = "-Xmx2g"

}
