/*
 * ---------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * ---------------------------------------------
 * Imported under the 'genome' Nextflow profile in
 * nextflow.config
 */

process {

  beforeScript = 'module load singularity'
  containerOptions = '-B /data/bdigby/'
  executor='slurm'
  queue='highmem'
  clusterOptions ='-n 8 -N 1'


  //labels specifying requests for resources to system
  withLabel: full_cpu_mem {
      cpus = 8
  }
  withLabel: half_cpu_mem {
      cpus = 8
  }
  withLabel: quarter_cpu_mem {
      cpus = 8
  }
  withLabel: sixth_cpu_mem {
      cpus = 6
  }
  withLabel: eighth_cpu_mem {
      cpus = 4
  }
  withLabel: twentieth_cpu_mem {
      cpus = 2
  }
}

singularity {

  cacheDir = '/data/bdigby/WES/singularity'
  runOptions = '--bind /data/bdigby/WES:/data/bdigby/WES'

}
